<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
      <plist version="1.0">
      <dict>
         <key>items</key>
         <array>
            <dict>
               <key>assets</key>
               <array>
                  <dict>
                     <key>kind</key>
                     <string>software-package</string>
                     <key>url</key>
                     <string>https://archive.org/download/video-star-8.3.2-1660025810/Video%20Star_8.3.2_1660025810.ipa</string>
                     
                     </dict>
                  <dict>
                                    <key>kind</key>
                                    <string>display-image</string>
                                    <key>needs-shine</key>
                                    <false/>
                                    <key>url</key>
                                    <string>https://i.ibb.co/wdqyR8Q/84-FA11-AB-2721-477-F-A0-D4-EC820238-E29-B.png</string>
                            </dict>
               </array>
               <key>metadata</key>
               <dict>
                  <key>bundle-identifier</key>
                  <string>com.rebostore.videostar</string>
                  <key>bundle-version</key>
                  <string>977</string>
                  <key>kind</key>
                  <string>software</string>
                  <key>title</key>
                  <string>Video Star++
❗️تکایە با ڤیدیۆ ستاری ئەپستۆر لە ناو مۆبایلەکەت نەبێ❗️</string>
               </dict>
            </dict>
         </array>
      </dict>
      </plist>
